asgiref==3.11.1
attrs==26.1.0
autopep8==2.3.2
colorama==0.4.6
Django==6.0.4
django-cors-headers==4.9.0
django-filter==25.2
django-redis==6.0.0
django-silk==5.1.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
factory-boy==3.3.0
Faker==24.0.0
gprof2dot==2025.4.14
gunicorn==22.0.0
inflection==0.5.1
iniconfig==2.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
packaging==26.2
pluggy==1.6.0
psycopg2-binary==2.9.12
pycodestyle==2.14.0
Pygments==2.20.0
PyJWT==2.12.1
pytest==8.3.4
pytest-django==4.8.0
python-dateutil==2.9.0.post0
python-decouple==3.8
PyYAML==6.0.3
redis==7.4.0
referencing==0.37.0
rpds-py==0.30.0
six==1.17.0
sqlparse==0.5.5
tzdata==2026.1
uritemplate==4.2.0
whitenoise==6.9.0
httpx==0.28.1
channels==4.2.0
# Agregar: cliente de Redis para Channels
channels-redis==4.2.1 # Agregar: cliente Python de Redis (para monitoreo directo)
daphne==4.1.2
pytest-asyncio==0.23.5


